$main-color: #ffe400
$font-color: #1a1a1a
$dark-color: #eee
$left-width-1280: 320px
$right-width-1280: 560px
$left-width-1420: 530px
$right-width-1420: 770px
$tablet-cont-width: 660px

//	X LARGE
@media screen and (min-width: 1664px)
	.container
		width: 1300px

//	LARGE
@media screen and (min-width: 1420px)
	.container
		width: 1300px
	.left-col
		// padding-right: 70px
		width: $left-width-1420
	.right-col
		width: $right-width-1420
	.header
		.left-col
			width: 511px

	.header-row
		.left-col
			h2
				padding-left: 60px

	// program
	.program
		.button-label
		.left-col
			width: $left-width-1420 - 10px
		.right-col
			width: $right-width-1420 - 10px
	// end program
	.price-block
		.container
			padding-bottom: 20px
	.presentation-block
		.container
			.left-col
				padding-top: 124px
				.address-holder
					margin-top: 170px
	
	.start-date-block
		h3
			margin-top: 8px
	.footer
		.container
			padding-bottom: 20px
			.footer-logo
				img
					width: auto
					position: static

//	MEDIUM
@media screen and (max-width: 1419px)
	.container
		width: 1160px

//	1280
@media screen and (max-width: 1240px)
	.container
		width: 880px
	.left-col, .right-col
		// padding: 0 100px
		// text-align: left
	.left-col
		padding-right: 70px
		width: $left-width-1280
	.right-col
		width: $right-width-1280
	h2
		font-size: 32px
	.top-line
		min-height: 70px
		text-align: left
		button
			padding: 20px 46px
	.main-navigation
		li
			margin-right: 0
			a
				font-size: 18px

	.yellow
		background-color: transparent
		.container
			background-color: $main-color

	.header
		.left-col
			margin-top: 36px
			text-align: left
	.main-logo
		margin-left: 0
		margin-right: 20px

	.socials-type-1
		li
			margin-top: -21px
		a
			font-size: 20px
			font-weight: 700
			line-height: 69px
			padding: 10px 0
		i
			text-align: center
			right: -5px
			width: 36px
	.teachers-block
		padding-top: 61px
		.header-row
			margin-bottom: 64px
			.left-col
				padding: 0
				padding-right: 70px
				padding-left: 70px
				h2
					line-height: 33px
					text-align: right
			.right-col
				padding: 0
				padding-left: 238px
				h2
					font-size: 28px
				h6
					font-size: 16px
					line-height: 20px
					margin-top: 16px
					margin-bottom: 0px
		.alexandr-head
			top: 64px
			img
				width: 166px

		.content-row
			button
				margin-top: 15px

	// header
	.header
		.left-col
			padding-right: 0
			padding-left: 0
			width: 313px
		.right-col
			margin-top: 92px
			padding-right: 0
			padding-left: 0
			width: 567px
		.main-content
			color: #1a1a1a
			font-size: 18px
			font-weight: 400
			line-height: 27px
			max-width: 536px
	#main-slider.main-slider
		margin-top: 67px
	.header
		padding-bottom: 18px

	.when-block
		.container
			padding-top: 40px
			// padding-left: 53px
			.left-col
				padding: 0
				text-align: right
				padding-right: 70px
			.right-col
				padding: 0

			.date-holder-1
				margin-top: 4px
				margin-bottom: 1px

				.calendar-icon-1
					margin-left: 1px
					margin-top: 8px
					width: 35px

				.clock-icon-1
					margin-left: -2px
					margin-top: 5px
					margin-bottom: 4px
					width: 44px

	.date-holder-1
		.icon-holder
			display: inline-block
			margin-bottom: 43px
			width: 64px

			img
				margin-top: 2px
		.text-holder
			// display: inline-block
			// margin-left: 22px
			// vertical-align: top
			span, p
				display: block
				font-size: 20px
				line-height: 27px
				font-weight: 300
				margin-bottom: 0
			.bold
				font-weight: 700

	.whos-block
		padding-top: 46px
		padding-bottom: 65px

		.left-col
			padding: 0
			padding-right: 71px
			text-align: right
			width: 320px
		.right-col
			padding: 0
			margin-top: 2px
			width: 560px

			p, h4
				font-size: 16px
				max-width: 520px

			p
				color: #1a1a1a
				line-height: 24px
				font-weight: 400

			h4
				color: #414141
				font-weight: 900
				margin-top: 21px

	
	// do-it-block
	.do-it-block
		.container
			height: 448px

			button
				font-size: 22px
				margin-top: 7px
				padding: 22px 64px
	// end do-it-block

	.teachers-block
		.left-col
			padding-right: 68px
		.content-row
			p
				font-size: 16px
				line-height: 23px

	// teachers
	.teachers
		padding-top: 62px
		h2
			font-size: 38px
			line-height: 39px
		.persons-slider
			margin-top: 8px

			.slide
				float: left
				width: 186px

				.image-holder
					width: 116px

				.content-holder
					.name
						font-size: 18px
						margin-top: 14px
						width: auto

					p
						margin-top: 1px
						color: #d1d1d1
						font-size: 14px
						line-height: 17px
						width: 140px
	// end teachers

	// program
	.program
		margin-top: 75px
		.button-label
			margin-left: 10px
			top: 6px
		.left-col
			width: $left-width-1280 - 10px
			h2
				line-height: 32px
		.right-col
			padding-right: 65px
			padding-bottom: 41px
			width: $right-width-1280 - 10px

		.container.border
			padding-top: 97px
	// end program


	// price-block
	.price-block
		background-color: transparent
		padding-bottom: 0
		.container
			background-color: $main-color
			padding-top: 35px

			.right-col
				padding-top: 9px

				.date-holder-1
					margin-bottom: 5px

				.date-holder-1:last-child
					margin-bottom: 9px

				.money-icon-1
					margin-top: 14px
					width: 44px

				.team-icon-1
					width: 42px

				.label-2
					top: -4px
					margin-left: 2px
	// end price-block

	// presentation-block
	.presentation-block
		.container
			height: 458px

			.left-col
				padding-top: 88px
				h2
					line-height: 31px

				.address-holder
					margin-top: 64px

					button
						font-size: 16px
						padding: 9px 10px
						margin-top: 18px
						margin-right: 0

					span, p
						font-size: 14px
						line-height: 33px

					.bold
						display: block
						font-size: 21px
						line-height: 30px
	// end presentation-block

	// start-date-block
	.start-date-block
		padding-top: 64px
		padding-bottom: 70px

		h6
			margin-top: 9px
			font-size: 17px
		h2
			line-height: 31px
		h3
			font-size: 28px
			line-height: 44px
			
		button
			margin-top: 22px

	.calendar-holder
		margin-top: 10px

		.day
			color: #8c8c8c
			display: inline-block
			font-size: 24px
			font-weight: 900
			line-height: 33px
			margin-bottom: 34px
			position: relative
			text-align: left
			width: 56px

			&.crossed:after
				height: 34px
				width: 8px

	.user-icons-holder
		margin-top: 14px

		.users
			margin-top: 27px
	// end start-date-block

	// footer
	.footer
		padding-bottom: 60px

		.container
			padding-top: 45px
			padding-bottom: 11px
			.footer-logo
				img
					width: 130px
					position: relative
					top: 46px
					left: 34px
	// end footer

@media screen and (max-width: 1024px)
	.top-line
		display: none

		button
			padding: 20px 20px

	.mobile-top-line
		display: block

		.gamburger
			display: inline-block

//	TABLET
@media screen and (max-width: 900px)
	.container
		width: $tablet-cont-width
	.tablet-visible
		display: inline-block !important
	.tablet-hidden
		display: none !important

	.left-col, .right-col
		padding-left: 100px
		text-align: left
		float: none
	.left-col
		padding-right: 0
		text-align: left
		width: $tablet-cont-width
	.right-col
		width: $tablet-cont-width
	h2
		font-size: 32px
	.top-line
		min-height: 70px
		text-align: center
		.container
			width: auto
		button
			display: none

	.main-navigation
		li
			margin: 0 14px 0 -10px
			padding: 20px 0
		a
			font-size: 18px
			line-height: 17px
	
	// header
	.header
		margin-top: 0
		padding-bottom: 0

		.left-col
			margin-top: 36px

		.right-col
			margin-top: 32px

		.main-content
			margin-left: 100px
			max-width: 100%

			h2
				color: black
				margin-left: -3px
				font-size: 62px
				font-weight: 700
				line-height: 59px
				letter-spacing: -0.1px
			h5
				margin-bottom: 21px

			p
				font-size: 16px
				line-height: 24px

	.main-logo
		margin-top: 4px
		margin-left: 73px
		img
			height: 122px

	#main-slider.main-slider
		margin-top: 46px

	// when-block
	.when-block
		padding-top: 54px
		padding-bottom: 0px
		.container
			padding-top: 20px
			padding-bottom: 20px
			.left-col
				text-align: left
				padding-left: 100px
			.right-col
				padding-left: 100px

				.date-holder-1
					margin-top: 15px
					.icon-holder
						margin-bottom: 26px
					.calendar-icon-1
						margin-top: 1px
						width: 37px
					.clock-icon-1
						margin-left: -1px
						margin-top: 5px
						width: 45px
	// end when-block

	// whos-block
	.whos-block
		padding-bottom: 46px
		.left-col
			padding-left: 100px
			text-align: left
			width: $tablet-cont-width
		.right-col
			padding-left: 100px
			text-align: left
			width: $tablet-cont-width
		.content
			margin-top: 24px
			max-width: 469px
	// end whos-block

	// do-it-block
	.do-it-block
		.container
			height: 388px

			button
				font-size: 22px
				font-weight: 700
				margin-top: -13px
				padding: 22px 64px
				font-weight: 700
	// end do-it-block


	// teachers-block
	.teachers-block
		padding-top: 44px

		.alexandr-head
			margin-top: 12px
			margin-left: -152px

		.header-row
			margin-bottom: 16px
			.left-col
				margin-top: 0
				padding-right: 58px
				h2
					font-size: 38px
			.right-col
				padding-left: 307px

				h2
					margin-top: 24px

				h6
					margin-top: 6px
					font-size: 14px
					line-height: 19px

		.content-row
			button, ul, li
				display: inline-block
			button.type-2.tablet-hidden
				// display: block !important
				padding: 16px 66px
				margin: auto
				margin-top: 33px
				font-size: 20px
				font-weight: 700
			.socials-type-1
				margin-bottom: 8px
				li
					margin-bottom: 8px
					&:nth-child(1n+4)
						display: none
				a
					padding: 8px 0
					span
						display: none
					i
						width: 43px
			p
				line-height: 21px
			button
				font-size: 18px
				padding: 10px 34px
	// end teachers-block

	// teachers
	.teachers
		padding-top: 12px
		.left-col
			margin-top: 37px
			h2
				font-size: 30px
				padding-left: 0
		.persons-slider
			margin-top: 38px

	// end teachers

	// program
	.program
		margin-top: 30px
		.header-row
			.left-col
				display: none
			.right-col
				position: relative
				margin: 0 auto
				text-align: center
		
		.left-col
			padding-left: 90px
			width: auto
			h2
				font-size: 30px
		.right-col
			padding-left: 90px

		.button-label
			font-size: 15px
			font-weight: 900
			letter-spacing: 0.94px
			line-height: 14px
			padding: 22px 7px
			left: 40px
			right: 40px
			top: 17px
			// width: 100%
			display: inline-block
			margin: auto

		.container.border
			padding-top: 59px
			.right-col
				padding-right: 0
				padding-left: 18px
				padding-left: 90px
				padding-top: 17px
				padding-bottom: 22px
				line-height: 22px
				font-size: 15px
			ul li
				margin-bottom: 20px
				font-size: 15px
			  	line-height: 26px
				&:before
					top: 10px
					left: 2px

		  ul li span
				font-size: 15px
				line-height: 26px
	// end program

	// price-block
	.price-block
		.container
			padding-top: 24px

			.right-col
				padding-top: 23px

				.label-2
					display: none

				.date-holder-1
					margin-bottom: 0

				.date-holder-1:last-child
					margin-bottom: 0
				.date-holder-1
					.icon-holder
						margin-bottom: 39px
						.money-icon-1
							margin-top: 5px
							width: 51px
						.team-icon-1
							margin-top: -5px
							width: 51px
					&:last-child
						margin-bottom: 8px
	// end price-block

	// presentation-block
	.presentation-block
		.container
			position: relative
			// height: 460px
			height: 421px
			.left-col
				position: absolute
				top: 47px
				left: 50px
				right: 50px
				bottom: 47px
				background: rgba(255,255,255,.9)
				padding: 50px
				height: auto
				width: auto
				.address-holder
					margin-top: 79px
					button
						font-size: 18px
						// font-weight: 700
						display: block
						margin-top: 11px
						padding: 16px 30px
					button.type-4
						color: $main-color
						background: none
						border: none
						font-size: 18px
						font-weight: 700
						float: right
						line-height: 33px
						padding-right: 40px
						position: absolute
						right: 10px
						bottom: 20px
					.bold
						line-height: 33px
			.right-col
				display: none
	// end presentation-block


	// start-date-block
	.start-date-block
		padding-top: 47px
		padding-bottom: 47px
		.left-col
			h2
				font-size: 38px
				padding-left: 0
		h3
			margin-top: 20px

	// end start-date-block

	// footer
	.footer
		.footer-logo
			display: none
	// end footer

//	MOBILE
@media screen and (max-width: 700px)
	.container
		width: 100%
	body::-webkit-scrollbar
		width: 0
		height: 0
		background-color: #fff
		border: none
	.top-line
		button
			display: none
	.full-height .content-holder, .vertical-middle .content-holder
		position: static
		top: auto
		-webkit-transform: none
		-ms-transform: none
		-o-transform: none
		transform: none
	.left-col, .right-col
		padding-left: 0
		padding-right: 0
		text-align: left
		width: 100%

	.main-navigation
		text-align: center
		li
			margin: 0 2px
			padding: 20px 0
			a
				font-size: 15px

	.main-logo
		margin-left: 32px
	// header
	.header
		.right-col
			padding-right: 60px
			width: auto
		.main-content
			margin-left: 60px


	// when-block
	.when-block
		.container
			.left-col
				text-align: left
				padding-left: 60px
				width: 100%
			.right-col
				padding-left: 60px
				width: 100%
	// end when-block

	// whos-block
	.whos-block
		.left-col
			padding-left: 60px
			width: 100%
		.right-col
			padding-left: 60px
			width: 100%
	// end whos-block

	// teachers-block
	.teachers-block
		.alexandr-head
			margin-top: 12px
			margin-left: -152px

		.header-row
			margin-bottom: 16px
			.left-col
				margin-top: 0
				padding-right: 60px
				padding-left: 300px
				text-align: left
				h2
					text-align: left
			.right-col
				padding-right: 60px
				padding-left: 300px

		.content-row
			.left-col
				padding-right: 60px
				padding-left: 60px
			.right-col
				padding-right: 60px
				padding-left: 60px
			.socials-type-1
				margin-bottom: 0
				li
					height: 60px
	// end teachers-block

	// teachers
	.teachers
		.left-col
			padding-left: 60px
			padding-right: 60px
			h2
				padding-left: 0
		.right-col
			padding-left: 60px
			padding-right: 60px
			.slide
				float: left
				// text-align: center
				// width: 180px
				width: auto

				.image-holder
					// width: 116px
					width: auto
				.content-holder
					.name
						width: auto
					p
						width: auto
	// end teachers

	.program
		.container.border
			.right-col, .left-col
				padding-left: 50px
				padding-right: 50px
		.button-label
			left: 0px
			right: 0px
	// price-block
	.price-block
		.right-col, .left-col
			padding-right: 60px
			padding-left: 60px
	// end price-block


	.presentation-block
		.container
			height: 421px
			// height: 460px

	// start-date-block
	.start-date-block
		.right-col, .left-col
			padding-right: 60px
			padding-left: 60px
		button.type-3, .btn.type-3
			width: 100%
		.left-col
			h2
				padding-left: 0
	// end start-date-block

	// footer
	.footer
		padding-left: 60px
		padding-right: 60px
		.container
			padding-left: 100px
	// end footer

	#mail-sent
		.modal-content
			h2
				font-size: 36px
				line-height: 38px
				margin-bottom: 25px
			p
				width: 100%
				font-size: 21px
				line-height: 32px

	
//	SMALL
@media screen and (max-width: 620px)
	.mobile-visible
		display: inherit !important
	.mobile-hidden
		display: none !important
	.mobile-xs-visible
		display: inherit
	.mobile-xs-hidden
		display: none
	.top-line
		display: none

	#to-top
		display: none

	.modal-holder a.close-modal, .modal-holder .close-modal
		background: url('../img/icons/cross-1.svg') no-repeat 50% 50%
		right: auto
		top: auto
		left: 50%
		bottom: 20px
		transform: translateX(-50%) translateZ(0) rotate(45deg)

	.teachers-block
		.header-row
			position: relative
			.left-col
				padding-left: 32px
				padding-right: 32px
				width: 100%
				h2
					text-align: left
			.right-col
				padding-left: 160px
		.alexandr-head
			margin: 0
			left: 22px
			top: 53px
			transform: translate(0)
			img
				width: 100px
		.content-row
			.left-col
				padding-left: 113px
				button
					display: none !important
			.tablet-hidden
				display: block !important
		.header-row
			.right-col
				h2
					margin-top: 60px
	.main-logo
		margin-left: 8px

	.date-holder-1
		.icon-holder

		.text-holder
			// display: inline-block
			// margin-left: 22px
			// vertical-align: top
			span, p
				font-size: 16px
				// display: block
				// font-size: 24px
				line-height: 22px
				// font-weight: 300
				// margin-bottom: 3px
			.bold
				font-size: 18px
				// font-weight: 700


	.header
		.left-col
			margin-top: 14px
		.right-col
			padding-right: 30px
			padding-top: 0
			margin-top: 20px
		.main-content
			margin-left: 30px
			h2
				font-size: 40px
			h5
				font-size: 16px
				line-height: 22px
				margin-top: 8px
		p
			line-height: 22px
		.main-logo
			margin-top: 0
			img
				height: 90px
		.main-slider
			.image-holder
				img 
					vertical-align: middle
					width: 140%
					margin-left: -20%

	.when-block
		.container
			padding-top: 27px
			padding-bottom: 40px
			.left-col, .right-col
				padding-left: 30px
			.right-col
				.date-holder-1
					margin-top: 11px
					.icon-holder
						margin-bottom: 15px
						width: 54px
					.clock-icon-1
						width: 38px
	.whos-block
		padding-top: 27px
		padding-bottom: 35px
		.container
			padding-top: 2px
			.left-col, .right-col
				padding-left: 30px
				padding-right: 30px
			.content
				margin-top: 12px
			p
				line-height: 22px

	.do-it-block
		.container
			height: 263px
			button
				margin-top: 10px
				padding: 16px 58px
				font-size: 18px

	.teachers-block
		padding-top: 34px
		.content-row
			.right-col
				padding-left: 30px
				padding-right: 30px
		.header-row
			.left-col
				h2
					font-size: 30px
			.right-col
				padding-left: 133px
				padding-right: 0px
				h2
					margin-top: 20px
					font-size: 24px

	.teachers
		.left-col, .right-col
			padding-left: 30px
			padding-right: 30px
		.right-col
			overflow: hidden
			.slider-viewport
				overflow: visible
				margin-left: 100px
				margin-right: 100px
				.slide
					.slide-wrapper
						padding: 0 40px

	// program
	.program
		.header-row
			.right-col
				margin: 0 32px
		.left-col, .right-col
			padding-left: 20px
			padding-right: 20px
		.right-col
			width: auto
		.container.border
			.left-col, .right-col
				padding-right: 20px
				padding-left: 20px

	.price-block .right-col, .price-block .left-col
		padding-left: 30px
		padding-right: 30px

	.presentation-block
		.container
			height: 420px
			.left-col
				left: 23px
				right: 23px
				top: 40px
				bottom: 40px
				padding: 37px 26px
				.address-holder
					margin-top: 25px
					span.bold
						line-height: 20px
					span
						font-size: 15px
					button
						display: block
						font-size: 14px
						// font-size: 12px
						line-height: 50px
						letter-spacing: 0.4px
						text-align: center
						padding: 0 20px
						margin: auto
						margin-top: 29px
					button.type-4.tablet-visible
						// display: block !important
						margin: auto
						margin-top: 15px
						padding: 0
						float: none
						position: static
						text-align: center
						width: 100%
	.start-date-block
		padding-top: 34px
		.right-col, .left-col
			padding-left: 30px
			padding-right: 30px
			h2
				font-size: 30px
			h3
				font-size: 21px
				margin-top: 17px
				line-height: 29px
			h6
				margin-top: 4px
				font-size: 14px
		button.type-3, .btn.type-3
			margin-top: 38px
			font-size: 15px
			font-weight: 900
			letter-spacing: 0.94px
			padding: 18px 0

	.calendar-holder
		// margin-top: 10px
		margin-right: -20px
		.day
			color: #8c8c8c
			font-size: 17px
			font-weight: 900
			line-height: 33px
			margin-bottom: 19px
			position: relative
			text-align: left
			width: 40px

			&.crossed:after
				// position: relative
				left: 4px
				top: 6px
				height: 22px
				width: 5px
			&.active:before
				transform: scale(0.7) translate(-6px, -4px)
	.user-icons-holder
		margin-top: 0
		.users
			margin-top: 13px
			margin-right: -15px
			.user
				margin-right: 28px
				margin-bottom: 10px
				width: 11px
				img
					width: 20px

	.footer
		padding-left: 0
		padding-right: 0
		padding-bottom: 0
		margin-bottom: 0
		.container
			padding-top: 34px
			padding-left: 30px
			padding-right: 30px
			.text-group
				margin-bottom: 24px
				a
					margin-top: 0px
					font-size: 20px
				p
					color: white
					font-size: 13px
					line-height: 17px
					color: white
					font-size: 13px
				.socials-type-2
					padding-right: 20px

	#presentation
		.modal-content
			.gallery-slider
				margin-top: calc(30vh)
				padding: 10px
				.paginator-holder
					transform: translateZ(0)
					.page
						margin: 0 7px
						height: 9px
						width: 9px
				.prev-slide, .next-slide
					pointer-events: none
				.slider-viewport
					&:before, &:after
					.slider-holder
						.slide
							&.active
							.image-holder
								padding: 0 4px

@media screen and (max-height: 480px)
	.mobile-menu
		.container
			left: 0
			top: 0
			right: 0
			bottom: 0
			button.type-1
				// display: none
			button.close-button, .btn.close-button
				top: auto
				bottom: 30px
			li
				padding: 2px
	.modal-holder, .modal-holder#subscribe
		background: #fff
		.close-modal
			bottom: auto
			left: auto
			bottom: 30px
			left: 50%
			// transform: translateZ(200px)
			// z-index: 999
			// right: 20px
			// top: 20px
		.modal-content, form, .left-col
			position: static !important
			transform: none !important
			// margin-bottom: 160px
			// padding-bottom: 40px
	.modal-holder#subscribe
		.left-col
			form
				position: static
		.modal-content .left-col form .form-group:last-child
			margin-bottom: 0
	#mail-sent .modal-content
		padding: 20px
		position: absolute !important
		left: 0 !important
		top: 0 !important
		right: 0
		bottom: 0

//	xSMALL
@media screen and (max-width: 480px)
	.container
		width: 100%

	.teachers
		.right-col
			.slider-viewport
				margin-left: 50px
				margin-right: 50px
				.slide
					.slide-wrapper
						padding: 0 10px

//	FIXES
@media screen and (max-height: 580px) and (max-width: 622px)
	#presentation
		.modal-content
			.gallery-slider
				margin-top: calc(50vh - 260px)

@media screen and (max-height: 580px) and (max-width: 580px)
	#presentation
		.modal-content
			.gallery-slider
				margin-top: calc(50vh - 200px)

@media screen and (max-height: 580px) and (max-width: 380px)
	#presentation
		.modal-content
			.gallery-slider
				margin-top: calc(50vh - 100px)
			// .slider-viewport
			// 	max-width: 400px
@media screen and (min-width: 621px) and (max-width: 700px)
	.teachers
		.right-col
			overflow: hidden
			.slider-viewport
				overflow: visible
				padding-left: 80px
				padding-right: 80px
				.slide-wrapper
					padding-left: 20px
					padding-right: 20px


// @media screen and (max-width: 700px)