doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MEAT Studies

		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")
		link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="/manifest.json")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="msapplication-TileImage" content="/mstile-144x144.png")
		meta(name="theme-color" content="#ffffff")

		link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
		link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='bower_components/animate.css/animate.css')
		link(rel='stylesheet', href='css/concated.css')

	body
		.preloader
			.after

		//- добавил стрелку "вверх"
		div#to-top
			img(src="img/icons/up_button.svg" alt="toTop")
		//- для работы кнопочек добавил классы .modal-open и #mobile-menu
		.mobile-top-line
			.gamburger.modal-open(data-target="#mobile-menu")
				span.line
				span.line
				span.line
			button.type-1.modal-open(data-target="#subscribe") <small>предварительная</small> регистрация

		div.modal.mobile-menu#mobile-menu.modal-holder
			.container
				button.type-1.modal-open(data-target="#subscribe") <small>предварительная</small> регистрация
				ul.main-navigation
					li.active
						a(href="#about")
							span О курсе
					li
						a(href="#teachers")
							span Когда
					li
						a(href="#program")
							span Где
					li
						a(href="#prices")
							span Предподаватели
					li
						a(href="#contact")
							span Контакты
				button.close-button.close-modal

		div.top-line
			.container
				ul.main-navigation
					li
						a(href="#about")
							span О курсе
					li
						a(href="#teachers")
							span Когда
					li
						a(href="#program")
							span Где
					li
						a(href="#prices")
							span Предподаватели
					li
						a(href="#contact")
							span Контакты
				button.type-1.modal-open(data-target="#subscribe") <small>предварительная</small> регистрация
		section.header
			.container
				.left-col
					.main-logo
						img(src="img/content/main-logo-1.svg")
				.right-col
					.main-content
						h2 UID и UXD
						h5 3 месяца по вторникам и четвергам. 
						p User Experience, он же UX, он же пользовательский опыт. Такое распостраненное и модное слово сейчас, что оно уже давно вышло за рамки дизайнерской тусовки. <br /> <br /> Все его слышали, но не все, к сожалению, понимают. UX подход это прежде всего  умение думать. Так User Experience, он же UX, он же пользовательский опыт. 
			.container
				div#main-slider.main-slider
					.slider-viewport
						.slider-holder
							.slide
								.image-holder
									img(src="img/content/tabel-collage-1.png")
		section#about.when-block.yellow
			.container
				.left-col
					h2 Когда
				.right-col
					.date-holder-1.hidden
						.icon-holder
							img(src="img/icons/calendar-icon-1.svg").calendar-icon-1
						.text-holder
							span.bold 3 месяца
							span 15 февраля – 16 мая
					.date-holder-1.hidden
						.icon-holder
							img(src="img/icons/clock-icon-1.svg").clock-icon-1
						.text-holder
							span.bold Вторник - Четверг
							span 19:15 – 21:15
					.description-holder
							h4 Все подробности о новом курсе UX+UI будут известны с 15 мая.
							p Зарегистрируйтесь предварительно и мы будем держать вас в курсе наших обновлений.

		section.whos-block.hidden
			.container
				.left-col
					h2 Для кого
				.right-col
					.content
						p User Experience, он же UX, он же пользовательский опыт. Такое распостраненное и модное слово сейчас, что оно уже давно вышло за рамки дизайнерской тусовки.
						h4 ВАЖНО! Для занятий вам понадобится ноутбук.

		section.do-it-block.hidden
			.container(style="background-image: url(img/content/audience-1.jpg);")
				.button-holder
					button.modal-open(data-target="#subscribe") записаться

		section.presentation-block#contact
			.container(style="background-image: url(img/content/audience-1.jpg);")
				.left-col
					h2 Место проведения
					.address-holder
						span.bold Prostir 86
						span ул. Казимира Малевича, 86П
						button Посмотреть на карте
						button.type-4.tablet-visible.modal-open(data-target="#presentation") Смотреть фото
				.right-col
					div#view-presentation.view-presentation.modal-open(data-target="#presentation")
						img.hidden(src="img/icons/zoom-icon-1.svg")
						svg(height="92" width="94" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 92")
							<path fill="#ffffff" fill-rule="evenodd" d="M 45.32 37.01 L 45.32 26 C 45.32 24.16 43.83 22.68 42 22.68 C 40.17 22.68 38.68 24.16 38.68 26 L 38.68 37.01 L 26.88 37.01 C 25.05 37.01 23.55 38.42 23.55 40.16 C 23.55 41.9 25.04 43.31 26.88 43.31 L 38.68 43.31 L 38.68 54.33 C 38.68 56.17 40.17 57.65 42 57.65 C 43.83 57.65 45.32 56.16 45.32 54.33 L 45.32 43.31 L 57.12 43.31 C 58.95 43.31 60.45 41.9 60.45 40.16 C 60.45 38.43 58.96 37.01 57.12 37.01 L 45.32 37.01 Z M 68.08 70.41 C 60.95 75.88 51.88 79.15 42 79.15 C 19.08 79.15 0.5 61.54 0.5 39.81 C 0.5 18.09 19.08 0.47 42 0.47 C 64.92 0.47 83.5 18.09 83.5 39.81 C 83.5 49.97 79.44 59.23 72.77 66.21 L 92.26 85.69 C 93.55 86.99 93.61 89.04 92.38 90.26 C 91.15 91.49 89.1 91.43 87.81 90.14 L 68.08 70.41 Z M 42 72.99 C 61.33 72.99 77 58.14 77 39.81 C 77 21.49 61.33 6.64 42 6.64 C 22.67 6.64 7 21.49 7 39.81 C 7 58.14 22.67 72.99 42 72.99 Z M 42 72.99" />

		section.teachers-block
			.container
				.header-row
					.alexandr-head
						img(src="img/content/sashkagor-1.png")
					.left-col
						h2 Куратор курса
					.right-col
						h2 Саша Кагор
						h6 Основатель и Арт-директор продакт-дизайн агенства 
							b MEAT
				.content-row
					.left-col
						button.type-2.tablet-visible.modal-open(data-target="#portfolio") Портфолио
						ul.socials-type-1
							li
								a(href="#" target="_blank")
									span facebook
									i.fa.fa-facebook
							li
								a(href="#" target="_blank")
									span instagram
									i.fa.fa-instagram
							li
								a(href="#" target="_blank")
									span linkedin
									i.fa.fa-linkedin
							li
								a(href="#" target="_blank")
									span medium
									i.fa.fa-medium
							li
								a(href="#" target="_blank")
									span pinterest
									i.fa.fa-pinterest
					.right-col
						p Дизайнер интерфейсов со стажем более 10 лет. Прошел классическую школу старой закалки начиная с полиграфии, рекламных агенств и диджитал студий. Позже прокачал свои навыки в аутсорсовых и продуктовых IT-компаниях. Сейчас основал своё дизайн агенство и успешно работает с рынком. <br /> <br /> За плечами несколько сотен Web-проектов и мобильных приложений. Разработал дизайн десктоп-приложений для Windows и iOS, а также интерфейсы для телевизоров.
						button.type-2.tablet-hidden.modal-open(data-target="#portfolio") Портфолио

		section#teachers.teachers
			.container
				.left-col
					h2 Лекторы курса
				.right-col
					.persons-slider#persons-slider
						.slider-viewport
							.slider-holder
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Jake Davise
											p Product дизайнер PetCube
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Сергей Тютык
											p Основатель и арт-директор студии TDESER
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Еще Кто-то
											p Основатель и арт-директор студии TDESER
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Jake Davise
											p Product дизайнер PetCube
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Сергей Тютык
											p Основатель и арт-директор студии TDESER
								.slide
									.slide-wrapper
										.image-holder
											img(src="img/icons/anonimus-icon-1.png")
										.content-holder
											p.name Еще Кто-то
											p Основатель и арт-директор студии TDESER

		section#prices.price-block.yellow.hidden
			.container
				.left-col
					h2 Стоимость
				.right-col
					.date-holder-1
						.icon-holder
							img(src="img/icons/money-icon-1.svg").money-icon-1
						.text-holder
							span.bold 3200 грн/месяц 
							span или 8600 за весь курс
								.label-2 экономия 1000 грн
					.date-holder-1
						.icon-holder
							img(src="img/icons/team-icon-1.svg").team-icon-1
						.text-holder
							span.bold 15 человек
							span в группе

		section.start-date-block.hidden
			.container
				.left-col
					h2 До начала курса
				.right-col
					h3 15 дней
					h6 февраль
					.calendar-holder
						span.day.crossed 1
						span.day.crossed 2
						span.day.crossed 3
						span.day.crossed 4
						span.day.crossed 5
						span.day.crossed 6
						span.day.crossed 7
						span.day 8
						span.day 9
						span.day 10
						span.day 11
						span.day 12
						span.day 13
						span.day 14
						span.day 15
						span.day 16
						span.day 17
						span.day 18
						span.day 19
						span.day 20
						span.day 21
						span.day 22
						span.day 23
						span.day 24
						span.day 25
						span.day 26
						span.day 27
						span.day 28
						span.day.active 29
					.user-icons-holder
						h3 5 мест
						.users
							span.user.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-1.svg")
							span.user.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-2.svg")
							span.user.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-3.svg")
							span.user.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-4.svg")
							span.user.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-5.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-6.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-7.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-8.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-9.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-10.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-11.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-12.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-13.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-14.svg")
							span.user.free.modal-open(data-target="#subscribe")
								img(src="img/icons/user-icon-15.svg")
							//- span.user.free
								//- img(src="img/icons/user-icon-16.svg")
					button.type-3.modal-open(data-target="#subscribe") записаться на  курс

		section.program#program
			.header-row.container.hidden
				.left-col &nbsp
				.right-col
					.label.button-label.modal-open(data-target="#subscribe") записаться на  курс
			.container.border
				.left-col
					h2 Программа курса
				.right-col
					ul.type-1
						li
							span История UX дизайна. Концепция дизайн-мышления.
						li
							span Consumer experience vs user experience
						li
							span Как понять своего пользователя. Use-cases и user journey. Прототипирование c использованием персонажей.
						li
							span Продуктовый дизайн: процесс проектирования и разработки 
						li
							span Общие принципы разработки интерфейсов. 
						li
							span Типология сайтов. Мифы и лайфхаки проектирования.
						li
							span Работа с формами и подача текста.
						li
							span Проектирование мобильных приложений. 
						li
							span Lean Startup.
						li
							span Интерфейсы будущего. 
					br
					h4 Практическая работа на курсе:
					ul.type-1
						li
							span Проектирование интерфейсов бытовых приборов
						li
							span Проектирование сайтов
						li
							span Проектирование онлайн-сервисов

		section.footer.yellow
			.container
				.left-col
					.footer-logo
						img(src="img/content/main-logo-2.svg")
				.right-col
					.text-group
						p По всем вопросам пишите на email
						a.underline(href="mailto:studies@makemeat.com") studies@makemeat.com
					.text-group
						p или звоните на номер
						a.underline(href="tel:studies@makemeat.com") 093 141 42 09
					.text-group
						ul.socials-type-2
							li
								a(href="#" target="_blank")
									i.fa.fa-facebook
							li
								a(href="#" target="_blank")
									i.fa.fa-instagram
							li
								a(href="#" target="_blank")
									i.fa.fa-linkedin
							li
								a(href="#" target="_blank")
									i.fa.fa-medium
							li
								a(href="#" target="_blank")
									i.fa.fa-pinterest
						.to-top.mobile-visible
							img(src="img/icons/up_button.svg" alt="toTop")

		//- modal
		.modal-holder#mail-sent
			.close-modal
				//- img(src="img/icons/cross-2.svg" alt="close")
			.modal-content
				h2 Спасибо за регистрацию! 
				p На ваш Email придет письмо с инструкцией, что делать дальше ;)
		.modal-holder#presentation
			.close-modal
				//- img(src="img/icons/cross-1.svg" alt="close")
			.modal-content
				.modal-container
					.gallery-slider#gallery-slider
						.slider-viewport
							.slider-holder
								.slide
									.image-holder
										img(src="img/content/audience-1.jpg")
								.slide
									.image-holder
										img(src="img/content/audience-2.jpg")
								.slide
									.image-holder
										img(src="img/content/tabel-collage-1.png")

		.modal-holder#subscribe
			.close-modal
				//- img(src="img/icons/cross-2.svg" alt="close")

			.modal-content
				div
					.left-col
						form(action="#")
							.form-group
								.input-holder
									input(placeholder="Имя *" data-validate="name")
									.input-line
									.error-label введите Ваше имя
							.form-group
								.input-holder
									input#phone-field(placeholder="Телефон *" data-validate="phone")
									.input-line
									.error-label введите Ваш номер телефна
							.form-group
								.input-holder
									input(placeholder="Email *" data-validate="email")
									.input-line
									.error-label введите Ваш E-MAIL
							.form-group
								.input-holder
									input(placeholder="Профиль Facebook")
									.input-line
									.error-label ))
							.form-group
								div.btn.submit.type-3(type="submit") отправить
					.right-col
						.content-holder
							.date-holder-1
								.icon-holder
									img(src="img/icons/calendar-icon-1.svg").calendar-icon-1
								.text-holder
									span.bold 3 месяца
									span 15 февраля – 16 мая
							.date-holder-1
								.icon-holder
									img(src="img/icons/clock-icon-1.svg").clock-icon-1
								.text-holder
									span.bold Вторник - Четверг
									span 19:15 – 21:15
							.date-holder-1
								.icon-holder
									img(src="img/icons/money-icon-1.svg").money-icon-1
								.text-holder
									span.bold 3200 грн/месяц 
									span или 8600 за весь курс
							.date-holder-1
								.icon-holder
									img(src="img/icons/team-icon-1.svg").team-icon-1
								.text-holder
									span.bold 15 человек
									span в группе

	script(src='bower_components/jquery/dist/jquery.js')
	script(src='bower_components/wow/dist/wow.js')
	script(src='js/main.js')