doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title test
		//- link(rel='stylesheet', href='libs/animate/animate.css')
		//- link(rel='stylesheet', href='libs/font-awesome-4.4.0/css/font-awesome.min.css')
		//- link(rel='stylesheet', href='css/grid.css')
		//- link(rel='stylesheet', href='css/global.css')
		//- link(rel='stylesheet', href='css/fonts.css')
		//- link(rel='stylesheet', href='css/animation.css')
		//- link(rel='stylesheet', href='css/elements.css')
		//- link(rel='stylesheet', href='css/main.css')
		//- link(rel='stylesheet', href='css/media.css')
		body


		script(src='libs/jquery-2.1.4/jquery-2.1.4.min.js')
		script(src='js/main.js')
