doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MEAT Studies
		link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/concated.css')

		body
			.yellow-line
				p Полная информация о курсе будет доступна на сайте с 10 февраля

			section.temp-content
				.container
					.temp-header
						.temp-logo
							img(src="img/content/temp-logo-1.png")
						.temp-content
							.header-1 29 февраля – 30 мая
							.header-2.sml 3 месяца <br /> по понедельникам и четвергам
							.header-2.big 3 месяца по понедельникам и четвергам
							.header-3 г. Киев, ул. Казимира Малевича, 86П
					.temp-frame
						h2 UX + UI
						p User Experience, он же UX, он же пользовательский опыт. Такое распостраненное и модное слово сейчас, что оно уже давно вышло за рамки дизайнерской тусовки.
					.temp-footer
						p По всем вопросам пишите на 
							a(href="mailto:studies@makemeat.com") studies@makemeat.com

		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='js/main.js')

