doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MEAT Studies

		link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")
		link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="/manifest.json")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="msapplication-TileImage" content="/mstile-144x144.png")
		meta(name="theme-color" content="#ffffff")

		link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/concated.css')

		body
			.yellow-line
				p Полная информация о курсе будет доступна на сайте с 10 февраля

			section.temp-content
				.container
					.temp-header
						.temp-logo
							img(src="img/content/temp-logo-1.svg")
						.temp-content
							.header-1 29 февраля – 30 мая
							.header-2.sml 3 месяца <br /> по понедельникам и четвергам
							.header-2.big 3 месяца по понедельникам и четвергам
							.header-3 г. Киев, ул. Казимира Малевича, 86П
					.temp-frame
						h2 UX + UI
						p Курс UX+UI разработан, чтоб научиться видеть и решать дизайн задачи, связанные с проектированием интерфейсов и веб-страниц.
						h5 По окончанию курса вы научитесь:
						ul.type-1
							li
								span задавать правильные вопросы (себе, клиенту и пользователям)
							li
								span мыслить сценариями
							li
								span понимать и создавать то, что нужно целевой аудитории
							li
								span правильно использовать аналитику
							li
								span работать с типографикой
							li
								span разбираться в HTML, CSS и JS
							li
								span проектировать веб-страницы и мобильные приложения
							li
								span презентовать, продавать свои идеи и проекты клиентам
						p Цена за месяц обучения — <b>3200 грн</b>
						p Одним платежем за весь курс — <b>8600 грн (экономия 1000 грн)</b>
						p &nbsp
						p P.S. Для обучения вам понадобится свой ноутбук. И желательны базовые знания программ (Photoshop или Illustrator или Sketch).
					.temp-footer
						p По всем вопросам пишите на 
							a(href="mailto:studies@makemeat.com") studies@makemeat.com

		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='js/main.js')

